@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --input-background: #ffffff;
  --input-border: #cccccc;
  --input-text-color: #000000;
}

html {
  background: white;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

input {
  background-color: var(--input-background);
}

select {
  background-color: var(--background-color);
}

input[type="date"] {
  background-color: var(--input-background);
  color: var(--input-text-color);
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Invert the colors for better visibility */
  cursor: pointer;
}

/* Custom */
/* Add custom styles for the StepIndicator */

.step-icon {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e2e8f0;
  color: #6b7280;
  font-size: 1.25rem;
  transition: all 0.5s;
  z-index: 1;
}

.step-icon.active {
  background-color: #48bb78;
  color: #fff;
}

.step-line {
  position: absolute;
  top: 34%;
  left: 50%;
  width: calc(100% - 2.5rem);
  height: 0.125rem;
  background-color: #d1d5db;
  transition: all 0.5s;
  z-index: 0;
}

.step-line.active {
  background-color: #48bb78;
}

/*  */
.toggle-checkbox:checked {
  right: 0;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #4ade80; /* Change to your primary color */
}

.toggle-checkbox {
  right: 15px;
  top: 0px;
  transition: all 0.3s;
}

.toggle-label {
  transition: background-color 0.3s;
}
