@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom */
/* Add custom styles for the StepIndicator */

.step-icon {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e2e8f0;
  color: #6b7280;
  font-size: 1.25rem;
  transition: all 0.5s;
  z-index: 1;
}

.step-icon.active {
  background-color: #48bb78;
  color: #fff;
}

.step-line {
  position: absolute;
  top: 34%;
  left: 50%;
  width: calc(100% - 2.5rem);
  height: 0.125rem;
  background-color: #d1d5db;
  transition: all 0.5s;
  z-index: 0;
}

.step-line.active {
  background-color: #48bb78;
}

/*  */
.toggle-checkbox:checked {
  right: 0;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #4ade80; /* Change to your primary color */
}

.toggle-checkbox {
  right: 15px;
  top: 0px;
  transition: all 0.3s;
}

.toggle-label {
  transition: background-color 0.3s;
}
